### DCC - Sirius Education
#### Grupo: O-PY-THA-ON

#### Exploração inicial
Abaixo foram feitas explorações iniciais nos dois datasets escolhidos pelo grupo

* Produção Municipal Agrícola [(PAM)](https://sidra.ibge.gov.br/tabela/5457)
* Pesquisa de Orçamentos Familiares [(POF)](https://www.ibge.gov.br/estatisticas/sociais/saude/24786-pesquisa-de-orcamentos-familiares-2.html?=&t=resultados)

#### Imports e configurações gerais

In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px

In [3]:
producao = pd.read_excel('C:\dcc-fellowship-ciencia-de-dados\Alimentos cesta básica_excel.xltx')

In [4]:
producao.head()

,Ano,Arroz (em casca),Banana (cacho),Batata-inglesa,Café (em grão) Total,Cana-de-açúcar,Feijão (em grão),Laranja,Mandioca,Milho (em grão),Soja (em grão),Tomate,Trigo (em grão)
0,1974,6764038,352761,1672498,3230618,95623685,2238012,29594708,24797636,16273227,7876527,1144037,2858530
1,1975,7781538,363684,1654767,2544596,91524559,2282466,31565854,26117614,16334516,9893008,1049724,1788180
2,1976,9757079,381763,1897518,751969,103173449,1840315,35841350,25443053,17751077,11227123,1166888,3215745
3,1977,8993696,427660,1896311,1950771,120081700,2290007,35823453,25929484,19255936,12513406,1297508,2066039
4,1978,7296142,416025,2013882,2535323,129144950,2193977,39131682,25459408,13569401,9540577,1464558,2690888

#### Análise de valores nulos

In [5]:
producao.isnull().sum()

Ano                     0
Arroz (em casca)        0
Banana (cacho)          0
Batata-inglesa          0
Café (em grão) Total    0
Cana-de-açúcar          0
Feijão (em grão)        0
Laranja                 0
Mandioca                0
Milho (em grão)         0
Soja (em grão)          0
Tomate                  0
Trigo (em grão)         0
dtype: int64

#### Análise de valores duplicados

In [6]:
producao.duplicated().sum()

0

#### Centralidade, dispersão e boxplot para cada alimento da cesta básica

In [15]:
producao.describe()

,Ano,Arroz (em casca),Banana (cacho),Batata-inglesa,Café (em grão) Total,Cana-de-açúcar,Feijão (em grão),Laranja,Mandioca,Milho (em grão),Soja (em grão),Tomate,Trigo (em grão)
count,47.000000,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01,4.700000e+01
mean,1997.000000,1.032623e+07,3.176821e+06,2.761729e+06,2.792463e+06,3.975459e+08,2.720224e+06,4.988128e+07,2.309252e+07,4.125725e+07,4.250427e+07,2.824883e+06,3.912155e+06
std,13.711309,1.735005e+06,3.160505e+06,7.246213e+05,6.497791e+05,2.315308e+08,4.730048e+05,3.464153e+07,2.504254e+06,2.496821e+07,3.365850e+07,1.059247e+06,1.653151e+06
min,1974.000000,6.764038e+06,3.527610e+05,1.654767e+06,7.519690e+05,9.152456e+07,1.580546e+06,1.670790e+07,1.759319e+07,1.356940e+07,7.876527e+06,1.049724e+06,1.533871e+06
25%,1985.500000,9.025959e+06,4.888370e+05,2.154474e+06,2.500516e+06,2.418545e+08,2.300276e+06,1.793300e+07,2.176087e+07,2.159513e+07,1.534830e+07,1.890458e+06,2.473352e+06
50%,1997.000000,1.041903e+07,5.579800e+05,2.670493e+06,2.737660e+06,3.261210e+08,2.808639e+06,3.584135e+07,2.346448e+07,3.232100e+07,2.639264e+07,2.717965e+06,3.292777e+06
75%,2008.500000,1.162979e+07,6.753540e+06,3.549010e+06,3.050224e+06,6.684532e+08,3.051184e+06,8.139752e+07,2.496417e+07,5.373824e+07,5.884514e+07,3.810625e+06,5.640248e+06
max,2020.000000,1.347699e+07,7.329471e+06,3.917234e+06,4.405416e+06,7.685942e+08,3.486763e+06,1.152340e+08,2.670304e+07,1.039636e+08,1.217977e+08,4.416652e+06,6.834421e+06